/* Variables */

:root {
  --theme-blue: #4285F4;
  --theme-dark: #424242;
  --theme-white: #fff;
  --theme-dark-text: #ccc;
}

/* Global */

* {
  transition:
    background-color .35s ease,
    color .35s ease,
    box-shadow .35s ease;
}

body {
  margin: 0;
  font-family: 'Trebuchet MS', Helvetica, sans-serif;
  color: var(--theme-dark);
  font-size: 16px;
}

main {
  margin: 0 auto;
  max-width: 800px;
  padding: 60px 15px 75px;
  min-height: calc(100vh - 135px);
}

input {
  font-size: 20px;
  border-radius: 4px;
  border: 1px grey;
}

a, a:visited {
  color: var(--theme-dark);
  text-decoration: none;
}

svg {
  fill: var(--theme-white);
  height: 24px;
  width: 24px;
}

.hidden {
  visibility: hidden;
}

.nav-set {
  height: inherit;
  position: relative;
  overflow: hidden;
}

.nav-set > * {
  position: relative;
  display: inline-block;
  margin: 0;
  padding: 0 12.5px;
  cursor: pointer;
  transition: all ease .2s;
}

.nav-set > .full-height {
  padding: 5px;
}

.dark-fill svg {
  fill: #6f6f6f;
}

.half-width {
  position: relative;
  width: 50%;
}

.elevated {
  box-shadow: 0 5px 5px #c1c1c1;
}

.button--fab {
  width: 48px;
  height: 48px;
  border-radius: 30px;
}

.right {
  float: right;
}

.left {
  float: left;
}

.center-text {
  text-align: center;
}

.full-width {
  width: 100%;
}

.full-width--all * {
  width: 100%;
}

.mdl-button {
  background: 0 0;
  border: none;
  color: var(--theme-dark);
  position: relative;
  padding: 16px;
  font-size: 16px;
  outline: 0;
  cursor: pointer;
  line-height: 10px;
}

/* Login */

.login-form-wrapper {
  max-width: 400px;
  margin: auto;
}

.login-form-wrapper fieldset {
  border: none;
  padding: 0;
}

.login-form-wrapper fieldset * {
  margin-bottom: 2px;
}

.login-form-wrapper legend {
  padding: .3em 0;
  margin-bottom: 10px;
  border-bottom: 1px solid #e5e5e5;
}

.login-form-wrapper input {
  font-size: 16px;
  padding: .5em .6em;
  display: inline-block;
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 3px #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}

.login-form-wrapper input[type=submit] {
  cursor: pointer;
  background-color: var(--theme-blue);
  color: var(--theme-white);
  box-shadow: none;
  border: none;
}

/* Entry */

.entry-date-wrapper {
  display: inline-block;
}

.entry-date {
  margin: 0;
}

.next-entry {
  transform: rotate(180deg);
}

.entry-header {
  text-align: center;
  padding: 20px 0;
}

.entry-header > *:first-child {
  padding-left: 0;
}

.entry-header > *:last-child {
  padding-right: 0;
}

.entry-text {
  white-space: pre-wrap;
  min-height: calc(100vh - 200px);
}

/* Entry preview */

.entry-preview {
  position: relative;
}

.entry-preview--icons {
  position: absolute;
  top: 0;
  right: -12.5px;
}

.entry-preview--icons svg {
  padding: 10px 12.5px 5px;
}

.entry-preview .entry-link {
  color: var(--theme-blue);
}

/* Header */

header {
  color: var(--theme-white);
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  right: 0;
  height: 50px;
  background-color: var(--theme-blue);
}

header > .inner-header {
  position: relative;
  display: flex;
  justify-content: flex-end;
  width: 100%;
  max-width: 1000px;
  height: 100%;
  margin: 0 auto;
}

header .nav-set h3 {
  padding: 14px 15px;
}

header .nav-set > *:not(h1):not(form) {
  padding: 12.5px;
}

.flex-grow {
  flex: 1 2;
}

.nav-search {
  flex-shrink: 1000;
}

.search-form {
  background-color: #676767;
  margin: 5.5px;
  padding: 0;
  display: flex;
  justify-content: flex-start;
  border-radius: 10px;
}

.search-form .nav-set svg {
  padding: 7.5px;
}

.search-form input {
  padding: 8px;
  margin: 0;
  width: 90%;
  background: transparent;
  border: none;
  outline: 0;
  border: 0;
  color: var(--theme-white);
}

.search-form input::placeholder {
  color: var(--theme-white);
}

.button--fab.add-entry {
  position: fixed;
  bottom: 25px;
  right: 25px;
  background-color: var(--theme-blue);
  transition: bottom linear .1s;
}

@media (min-width: 1049px) {
  .button--fab.add-entry {
    right: calc((100vw - 1000px) / 2);
  }
}

@media (max-width: 648px) {
  .toast .button--fab.add-entry {
    bottom: 75px;
  }
}

.button--fab.add-entry svg {
  transform: rotate(45deg);
}

.button--fab.add-entry a {
  height: 25px;
  width: 25px;
  position: relative;
  display: inline-block;
  padding: 12px;
  border-radius: 30px;
}

.list-item {
  padding: 10px 0;
}

.list-item * {
  margin: 0;
}

.list-item .first-row {
  font-size: 20px;
  height: 24px;
}

.list-item .second-row {
  position: relative;
  height: 39px;
  overflow: hidden;
}

@media (min-width: 850px) {
  .list-item .second-row {
    left: 5px;
    width: calc(100% - 5px);
  }
}

/* Dialog */

.modal-overlay {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
}

.modal-overlay.modal-modal {
  background-color: #00000080;
}

/* .modal-overlay.modal-menu {

} */

.modal-dialog {
  font-size: 18px;
  display: inline-block;
  position: relative;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0px 5px 20px 0px rgba(0,0,0,0.75);
}

.modal-dialog ul {
  list-style: none;
  padding: 5px;
  margin: 0;
  cursor: pointer;
}

.modal-dialog li {
  padding: 12.5px 15px;
}

.modal-dialog p {
  margin: 5px;
}

.modal-dialog.modal-modal {
  width: 200px;
  left: calc(50% - 100px);
  top: calc(50% - 75px);
  text-align: center;
}

.modal-dialog.modal-modal > div {
  padding: 10px;
}

.modal-dialog.modal-modal .modal-message {
  padding: 8px 10px;
}

.modal-dialog.modal-menu {
  position: fixed;
  width: 150px;
  top: 10px;
  right: 10px;
}

@media (min-width: 1019px) {
  .modal-dialog.modal-menu {
    right: calc((100vw - 1000px) / 2);
  }
}

/* Toast */

toast {
  left: 50%;
  transform: translateX(-50%);
  position: fixed;
  text-align: center;
  height: 50px;
  background-color: var(--theme-dark);
  bottom: -50px;
  transition: bottom linear .1s;
  z-index: 2;
  color: var(--theme-white);
  width: 100%;
  max-width: 450px;
}

toast.show {
  bottom: 0;
}

.toast-label {
  display: inline-block;
  font-size: 16px;
  padding: 16px 16px;
}

/* Dark theme */

.app.dark {
  background-color: #000;
  color: var(--theme-white);
}

.app.dark header {
  background-color: var(--theme-dark);
}

.app.dark .search-form {
  background-color: #000;
}

.app.dark .modal-dialog {
  background-color: var(--theme-dark);
}

/* .app.dark .modal-dialog button {
  color: var(--theme-white);
} */

.app.dark .dark-fill svg {
  fill: #c5c5c5;
}

.app.dark .mdl-button {
  color: var(--theme-white);
}

.app.dark .entry-preview .entry-link {
  color: #f3f3f3;
}

.app.dark .entry-date {
  color: #e0e0e0;
}

.app.dark .entry-text {
  color: var(--theme-dark-text);
}

.app.dark .list-item .second-row {
  color: var(--theme-dark-text);
}

.app.dark .button--fab.add-entry {
  background-color: #2d50afe0;
}

.app.dark .elevated {
  box-shadow: none;
}

/* Transitions */

@keyframes fade-in {
  from {
    opacity: .25;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-up {
  from {
    opacity: .25;
    transform: translateY(25px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fade-down {
  from {
    opacity: .25;
    transform: translateY(-25px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fade-right {
  from {
    opacity: .25;
    transform: translateX(-250px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes grow {
  from {
    transform: scale(.2);
  }
  to {
    transform: scale(1);
  }
}

.fade-in {
  animation: fade-in ease .2s forwards;
}

.fade-up {
  animation: fade-up ease .2s forwards;
}

.fade-down {
  animation: fade-down ease .2s forwards;
}

.fade-right {
  animation: fade-right ease .35s forwards;
}

.grow {
  animation: grow ease .2s forwards;
}
