body {
  margin: 0;
  font-family: 'Trebuchet MS', Helvetica, sans-serif;
  color: #424242;
  font-size: 16px;
}

.app {
  min-height: 100%;
}

.app.dark {
  background-color: #000;
  color: white !important;
}

.app.dark header {
  background-color: #424242;
}

.app.dark .dark-fill svg {
  fill: #c5c5c5;
}

.app.dark .entry-link {
  color: #9ab4ff;
}

.app.dark .button--fab.add-entry {
  background-color: #424242;
}

.app.dark .elevated {
  box-shadow: none;
}

toast {
  left: 50%;
  transform: translateX(-50%);
  position: fixed;
  text-align: center;
  height: 36px;
  background-color: #424242;
  bottom: -100px;
  transition: bottom linear .2s;
  z-index: 2;
  color: #fff;
  width: 100%;
  max-width: 450px;
}

toast.show {
  bottom: 0;
}

.toast-label {
  display: inline-block;
  padding: 8px 16px;
}

header {
  color: #fff;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  right: 0;
  display: flex;
  justify-content: flex-end;
  height: 50px;
  background-color: #5776d0;
  /*box-sizing: border-box;
  padding: 0 30px;*/
}

header .nav-set > * {
  padding: 12.5px;
}

.nav-set {
  height: inherit;
}

.nav-set > * {
  position: relative;
  display: inline-block;
  margin: 0;
  padding: 0 12.5px;
  cursor: pointer;
  transition: all ease .2s;
}

.nav-set > .full-height {
  padding: 5px;
}

/*.nav-set svg:hover {
  fill: orange;
}

@media (hover: none) {
  svg:hover {
    fill: #fff;
  }

  .dark-fill svg:hover {
    fill: #6f6f6f;
  }
}*/

svg {
  fill: #FFF;
  height: 24px;
  width: 24px;
}

.dark-fill svg {
  fill: #6f6f6f;
}

.half-width {
  position: relative;
  width: 50%;
}

input {
  font-size: 20px;
  border-radius: 4px;
  border: 1px grey;
}

a, a:visited {
  color: #5776d0;
  text-decoration: none;
}

main {
  margin: 0 auto;
  max-width: 800px;
  padding: 60px 15px 75px 15px;
}

.elevated {
  box-shadow: 0 5px 5px #c1c1c1;
}

.button--fab {
  width: 48px;
  height: 48px;
  border-radius: 30px;
  box-sizing: border-box;
  padding: 12px;
}

.button--fab.add-entry {
  position: fixed;
  bottom: 25px;
  right: 25px;
  background-color: #5776d0;
}

.grow {
  flex: 1 2;
}

.right {
  float: right;
}

.left {
  float: left;
}

.search-form {
  margin: 0;
  max-width: 300px;
}

.search-form input {
  padding: 8px;
  width: 100%;
  background: transparent;
  border: none;
  outline: 0;
  border: 0;
  color: #fff;
}

.search-form input::placeholder {
  color: #fff;
}

.center-text {
  text-align: center;
}

/*.entry-list {

}*/

.full-width {
  width: 100%;
}

.full-width--all * {
  width: 100%;
}

.login-form-wrapper {
  max-width: 400px;
  margin: auto;
}

.login-form-wrapper fieldset {
  border: none;
  padding: 0;
}

.login-form-wrapper fieldset * {
  margin-bottom: 2px;
}

.login-form-wrapper legend {
  padding: .3em 0;
  margin-bottom: 10px;
  border-bottom: 1px solid #e5e5e5;
}

.login-form-wrapper input {
  font-size: 16px;
  padding: .5em .6em;
  display: inline-block;
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 3px #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}

.login-form-wrapper input[type=submit] {
  cursor: pointer;
  background-color: #0078e7;
  color: #fff;
  box-shadow: none;
  border: none;
}

/* This breaks the virtual scroll. When used, I can't scroll to the bottom of the view. */
/*.entry-list > div {
  padding-bottom: 65px;
}*/

.entry-text {
  white-space: pre-wrap;
  min-height: calc(100vh - 200px);
}

.list-item {
  padding: 10px 0;
}

.list-item * {
  margin: 0;
}

.list-item .first-row {
  font-size: 20px;
  height: 24px;
}

.list-item .second-row {
  height: 40px;
  overflow: hidden;
}

.mdl-button {
  background: transparent;
  border: none;
  color: #fff;
  position: relative;
  height: 36px;
  padding: 0 16px;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  outline: none;
  cursor: pointer;
  line-height: 36px;
}

/*.mdl-button--grey {
  color: #424242;
  background-color: #E6E6E6;
}

.mdl-button--warning {
  background: rgb(223, 117, 20);
}

.mdl-button--recommended {
  background: rgb(223, 117, 20);
}*/
