body {
  margin: 0;
  font-family: 'Trebuchet MS', Helvetica, sans-serif;
  color: #424242;
  font-size: 16px;
}

toast {
  left: 50%;
  transform: translateX(-50%);
  position: fixed;
  text-align: center;
  max-width: 400px;
  height: 36px;
  background-color: #424242;
  bottom: -100px;
  transition: bottom linear .2s;
  z-index: 2;
  color: #fff;
  width: 100%;
}

toast.show {
  bottom: 0;
}

.toast-label {
  display: inline-block;
  padding: 8px 16px;
}

header {
  color: #fff;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  right: 0;
  display: flex;
  justify-content: flex-end;
  height: 50px;
  background-color: #5776d0;
  /*box-sizing: border-box;
  padding: 0 30px;*/
}

header .nav-set > * {
  padding: 12.5px;
}

.nav-set {
  height: inherit;
}

.nav-set > * {
  position: relative;
  display: inline-block;
  margin: 0;
  padding: 0 12.5px;
  cursor: pointer;
  transition: all ease .2s;
}

.nav-set > .full-height {
  padding: 5px;
}

.nav-set svg:hover {
  fill: orange;
}

svg {
  fill: #FFF;
  height: 24px;
  width: 24px;
}

.dark-fill svg {
  fill: #424242;
}

.half-width {
  position: relative;
  width: 50%;
}

input {
  font-size: 20px;
  border-radius: 4px;
  border: 1px grey;
}

a, a:visited {
  color: #5776d0;
  text-decoration: none;
}

main {
  margin: 0 auto;
  max-width: 800px;
  padding: 55px 15px 65px 15px;
}

.elevated {
  box-shadow: 0 5px 5px #c1c1c1;
}

.button--fab {
  width: 48px;
  height: 48px;
  border-radius: 30px;
  box-sizing: border-box;
  padding: 12px;
}

.button--fab.add-entry {
  position: fixed;
  bottom: 25px;
  right: 25px;
  background-color: #5776d0;
}

.grow {
  flex: 1 2;
}

.right {
  float: right;
}

.left {
  float: left;
}

.search-form {
  margin: 0;
  max-width: 300px;
}

.search-form input {
  padding: 8px;
  width: 100%;
  background: transparent;
  border: none;
  outline: 0;
  border: 0;
  color: #fff;
}

.search-form input::placeholder {
  color: #fff;
}

.center-text {
  text-align: center;
}

.list-item {
  margin: 20px 0;
}

.list-item * {
  margin: 0;
}

.list-item .first-row {
  font-size: 20px;
  height: 24px;
}

.list-item .second-row {
  /*font-size: 16px;*/
  /*color: #5d5d5d;*/
  height: 40px;
  overflow: hidden;
}

.mdl-button {
  background: transparent;
  border: none;
  border-radius: 2px;
  color: #fff;
  position: relative;
  height: 36px;
  margin: 0;
  min-width: 64px;
  padding: 0 16px;
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 1;
  letter-spacing: 0;
  overflow: hidden;
  will-change: box-shadow;
  transition: box-shadow 0.2s cubic-bezier(0.4, 0, 1, 1), background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1), color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  outline: none;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  line-height: 36px;
  vertical-align: middle;
}

.mdl-button--grey {
  color: #424242;
  background-color: #E6E6E6; /* grey */
}

.mdl-button--warning {
  background: rgb(223, 117, 20); /* orange */
}

.mdl-button--recommended {
  background: rgb(223, 117, 20); /* orange */
}
