body {
  margin: 0;
  font-family: 'Trebuchet MS', Helvetica, sans-serif;
}

header {
  color: white;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  display: flex;
  justify-content: flex-end;
  height: 50px;
  background-color: #5776d0;
  /*box-sizing: border-box;
  padding: 0 30px;*/
}

header .nav-set {
  height: inherit;
}

header .nav-set > * {
  position: relative;
  display: inline-block;
  margin: 0;
  padding: 12.5px;
  cursor: pointer;
  transition: all ease .2s;
}

header .nav-set > .full-height {
  padding: 5px;
}

header .nav-set svg:hover {
  fill: orange;
}

input {
  font-size: 20px;
  border-radius: 4px;
  border: 1px grey;
}

a, a:visited {
  color: #5776d0;
  text-decoration: none;
}

main {
  margin: 0 auto;
  max-width: 800px;
  padding: 65px 15px;
}

.elevated {
  box-shadow: 0 5px 5px #c1c1c1;
}

.button {

}

.button--fab {
  width: 48px;
  height: 48px;
  border-radius: 30px;
  box-sizing: border-box;
  padding: 12px;
}

.button--fab.add-entry {
  position: fixed;
  bottom: 15px;
  right: 15px;
  background-color: #5776d0;
}


.grow {
  flex: 1 2;
}

.right {
  float: right;
}

.left {
  float: left;
}

.search-form {
  margin: 0;
  max-width: 300px;
}

.search-form input {
  padding: 8px;
  width: 100%;
  background: transparent;
  border: none;
  outline: 0;
  border: 0;
  color: white;
}

.search-form input::placeholder {
  color: white;
}
